body, html {
    font-size: 14pt;
    height: 100%;
    padding-top: 0px !important;
    margin-bottom: 60px !important;
}            
.bg {
    background-image: url("img/yglu-banner.png");
    background-position: center;
    background-repeat: no-repeat;
    
    margin-bottom: 30px;
}
@media only screen and (min-width: 1056px) {
    .bg {
        height: 480px;                             
        background-size: cover;
    }
}      
@media only screen and (max-width: 1056px) and (min-width: 680px){
    .bg {
        height: 300px;         
        background-size: cover;
    }
}          
@media only screen and (max-width: 680px) {
    .bg {
        height: 160px;         
        background-size: cover;
    }
}                 
.CodeMirror {
    font-size: 72%;
    border-radius: 4px;
    border-color: lightblue;
    border-width: 1px;
    border-style: solid;
    transition: background 1s;
    height: 360px !important;
}
.CodeMirror-gutter {
    background-color: #ddf2fd;                
}
.CodeMirror-gutters {
    border-right: 1px solid lightblue !important;
}
.disabled {
    background-color: #ddf2fd !important;    
}
.CodeMirror-linenumber {
    color: #0b9ab3 !important;
}
.CodeMirror-lines {
    color: #0b4b80;
}
.cm-meta {
    color: #0b9ab3 !important;
}
.cm-atom {
    font-weight: bolder;
    color: #2e5ee0 !important;
}
.cm-string {
    color: #208f77 !important;
}
.cm-number {
    color: #4b208f !important;
}
.cm-keyword {
    color: rgb(104, 51, 11) !important;
}
h1, h2 {                
    color: #2977b9
}
.editor {
    margin-top: 6px;
    margin-bottom: 6px;
}
#error {
    color: darkred;
}
#content {
    padding-bottom: 16px;
}
#error-container {
    height: 14em;
}
#footer {
    font-size: smaller;
    text-align: center;
}
.sample {
  display: inline
}
.sample button {
  padding: 4px;
  border-color: lightblue;
  border-radius: 4px;
  font-size: smaller;
}
.sample-document {
  display: none
}